<footer class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="title">
            Over EWS energy
          </div>
			{% set nodes = craft.navigation.nodes().handle('hoofdmenu').level(1).all() %}
          <ul class="menu">
			  {% nav node in nodes %}
			  <li>
              	<a href="{{node.url}}">{{node.title}}</a>
              </li>
			  {% endnav %}
          </ul>
        </div>
        <div class="col-md-4">
          <div class="title">
            Ons volgen op sociale media
          </div>
          <ul class="menu">
		  	<li>
              <a href="#">
                <i class="fa fa-facebook"></i>
                Facebook
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
                Instagram
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 newsletter">
          <div class="title">
            Nieuwsbrief
          </div>
          <p>
            Wilt u graag op de hoogte gehouden worden van acties? Laat dan Uw emailadres achter.
          </p>

          <form class="newsletter-form" autocomplete="off">
            <input type="email" id="mc-email" class="form-control" placeholder="Email adres" required />

            <button type="submit">
              <i class="fa fa-chevron-right"></i>
            </button>
            <label for="mc-email" class="text-white newsletter-feedback mt-3"></label>
          </form>
        </div>
      </div>
      <div class="bottom">
        <ul>
			<li style="color: #9daac2; text-transform: uppercase; font-size: 11px; font-weight: 600; text-decoration: none; position: relative;">
			{% for block in bedrijfsgegevens.gegevens.all() %}
			 {{ block.bedrijfsnaam }} | {{ block.straat }} {{ block.huisnummer }} | {{ block.postcode }} {{ block.gemeente }} | {{ block.telefoonnummer }} | {{ block.emailadres }} | 
				{% set pdf = block.privacyPdf.one() %}
				{% if pdf %}
					<a href="{{ pdf.url }}">Privacybeleid</a>
				{% endif %}
				
			{% endfor %}
			</li>
        </ul>
      </div>
    </div>
  </footer>